package views

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Hot Reload</title>
			<link rel="stylesheet" href="/assets/css/output.css"/>
		</head>
		<body>
			<div class="flex justify-center gap-x-2 mt-10 text-slate-600 font-bold">
				<div class="bg-amber-200 p-3 rounded-xl">merhaba</div>
				<div class="bg-green-300 p-3 rounded-xl">insan</div>
			</div>
		</body>
	</html>
}
